<!DOCTYPE html>
<html lang="kr" class="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="index.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <form method="post" class="border" >
        <span class="Welcome-">Welcome !</span>
        <div class="dd"></div>
        <span class="Sign-in-to">Login in to</span>
        <br>
        <span class="tlqkf">Now come get some new ideas</span>
        <br>
        <span class="gotothesign" Onclick="location.href='extra-membergaib'">Go to the sign up!</span>
        <div class="classroom"></div>

        <div class="usernickname">
            <span class="Un">User nickname</span>
                <input autocomplete="off" class="inputu" placeholder="Enter your user name" required id="nickname" name="nickname">
        </div>

        <div class="password">
            <span class="ps">password</span>
                <input autocomplete="off" class="inputu" placeholder="Enter your password" minlength="8" maxlength="12" type="password" required id="password" name="password">
        </div>

        <label class="Remember-me"><input type="checkbox" id="coco">Remember me</label>

        <button class="Loginbar" id="button"><span class="Login">Login</span></button>
    </form>
</body>
</html>